$drop-shadow: 10px
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap')

*
    box-sizing: border-box
    
html, body
    margin: 0
    padding: 0

a
    text-decoration: none
    
::-webkit-scrollbar 
    display: none

.image-container
    width: 100%
    background-size: contain
    background-repeat: no-repeat
    position: relative
    font-family: 'Poppins', sans-serif
    z-index: 1
    color: white
    overflow: hidden

    a
        color: white

    > img
        width: 100%

#building1
    position: absolute
    bottom: 0
    left: 7.5%
    width: 24%
    z-index: 2

    img
        width: 100%

#building3
    position: absolute;
    bottom: 0
    right: 1.7%
    width: 17%
    z-index: 6

    img
        width: 100%
        

.i-link
    position: absolute
    height: auto
    z-index: 99
    display: flex
    justify-content: center
    align-items: center
    .i-link__bg
        width: 100%
        height: 100%
        position: absolute
        background-size: cover

    &__title-hover
        display: none
    span
        position: absolute
        font-size: 1.3vw
        text-align: center
        line-height: 1.5vw
        
    a
        display: inline-block
        background-color: #695ed0
        width: 5vw
        font-size: 0.8vw
        border-radius: 20px
        margin-top: 1vw
        display: none
        padding: 0.3vw
        text-align: center
        position: absolute
        font-family: 'Poppins', sans-serif
        z-index: 999

#link1
    width: 10.8%
    top: 42%
    left: 15.9%
    z-index: 2

    span
        transform: skewY(13deg) rotateY(-3deg)
        line-height: 2vw
        word-spacing: 10vw
        font-size: 1.4vw
        left: 6%

    a
        transform: skewY(10deg) rotateY(0deg)
        bottom: 8%
        left: 31%

    .i-link__bg
        filter: drop-shadow(0 0 10px #ff79f8)

    &:hover .i-link__bg
        filter: brightness(30%) drop-shadow(0 0 10px #ff79f8)

    &:hover a
        display: inline-block

#link3
    width: 8.4%
    top: 47%
    z-index: 1
    left: 45.2%

    span
        word-spacing: 10vw

    a
        bottom: 1.5vw

    .i-link__bg
        filter: drop-shadow(0 0 10px #ff79f8)

    &:hover .i-link__bg
        filter: brightness(30%) drop-shadow(0 0 10px #ff79f8)

    &:hover a
        display: inline-block

#link4
    width: 10.4%
    top: 52%
    z-index: 4
    left: 60.8%

    span
        word-spacing: 10vw

    a
        bottom: 2vw

    .i-link__bg
        filter: drop-shadow(0 0 10px #44a0e8)

    &:hover .i-link__bg
        filter: brightness(30%) drop-shadow(0 0 10px #44a0e8)

    &:hover a
        display: inline-block

    
#link5
    width: 11.2%
    top: 70%
    left: 82%

    span
        transform: skewY(-10deg)
        bottom: 23%
        padding: 2vw
        left: -8%

    a
        bottom: 2vw
        transform: skewY(-7deg) rotateY(8deg)
        left: 26%
        display: none
        width: 4vw

    .i-link__bg
        filter: drop-shadow(0 0 10px #44a0e8)

    &:hover .i-link__bg
        filter: brightness(30%) drop-shadow(0 0 10px #44a0e8)

    &:hover a
        display: inline-block

    
#link6
    width: 11.2%
    top: 27.3%
    left: 83.5%

    span
        transform: skewY(12deg)
        bottom: -46%
        left: -69%
        padding: 10vw

    a
        bottom: 2vw
        transform: skewY(12deg)
        width: 4vw

    .i-link__bg
        filter: drop-shadow(0 0 10px #44a0e8)

    &:hover .i-link__bg
        filter: brightness(30%) drop-shadow(0 0 10px #44a0e8)

    &:hover a
        display: inline-block

    
#drone
    width: 33%
    height: auto
    position: absolute
    top: 5%
    left: 2%
    z-index: 10
    img
        width: 100%

    #slider
        width: 60%
        left: 11%
        position: absolute
        z-index: 99
        top: 8%

        .owl-dots
            transform: translateY(-60%)

        .item
            padding: 7.5% 10%
            h1
                font-size: 1.5vw
        
#baloon
    width: 20%
    position: absolute
    right: 14%
    animation: baloon 10s
    top: 5%
    z-index: 99
    img
        width: 100%    
    span
        position: absolute
        z-index: 999
        top: 35%
        padding: 5%
        left: 4%
        text-align: center
        font-size: 0.9vw


#visitor
    position: absolute
    left: 0
    bottom: 0
    overflow: auto
    width: 15%
    z-index: 9999

    img
        width: 100%

    #visitor-text
        position: absolute
        top: 21%
        width: 100%
        left: 50%
        font-size: 1.2vw
        transform: translateX(-50%)
        text-align: center

#conserv_logo
    position: absolute
    width: 15%
    bottom: 5%
    right: -15%
    z-index: 999
    img
        width: 100%

#car3
    position: absolute
    width: 15%
    top: -20%
    right: 2%
    z-index: 1
    img
        width: 100%
        
#wsg
    position: absolute
    width: 8%
    top: 74%
    left: 5%
    z-index: 5
    img
        width: 100%

@keyframes  conserv
    0%
        right: 85%

@keyframes  car3
    0%
        right: 70%
        top: 50%

@keyframes  wsg
    0%
        left: 85%
        top: 45%